:root {
  color-scheme: light;
  --color-primary: 203 139 198;
  --color-accent: 342, 75%, 30%;
  /*hsl(342, 75%, 30%) */
  --color-accent-2: 136, 19, 55;
  /*hsl(342, 75%, 40%)*/
  --color-bkg: 350, 10%, 10%;
  /*hsl(350, 10%, 10%)*/
  --color-content: 0, 0%, 100%;
  /*hsl(0, 0%, 100%)*/
  --bkg-gradient: radial-gradient(
    ellipse 80% 80% at 50% -20%,
    hsla(352, 33%, 51%, 0.3),
    hsla(341, 94%, 6%, 0.049)
  );
}
/* :root[class="dark"] {
  l: "rgb(209 250 229 / <alpha-value>)",
          // l: "rgb(var(--color-primary) / <alpha-value>)",
          d: "rgb(136 19 55 / <alpha-value>)",
} */

*,
*::after,
*::before {
  box-sizing: border-box;
  min-width: 0;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}
p {
  text-wrap: pretty;
}
html {
  font-family: "Onest Variable", system-ui, sans-serif;
  /* background-image: var(--bkg-gradient); */
}

body {
  display: flex;
  flex-direction: column;
  place-items: center;
  min-height: 100dvh;
}

p {
  text-wrap: pretty;
}

code {
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}
li {
  list-style: none;
}
