:root {
  color-scheme: light dark;
  --accent: 136 19 55;
  --accent-light: 224, 204, 250;
  --accent-dark: 49, 10, 101;
  --accent-gradient: linear-gradient(
    45deg,
    rgb(var(--accent)),
    rgb(var(--accent-light)) 30%,
    white 60%
  );
}
*,
*::after,
*::before {
  box-sizing: border-box;
  min-width: 0;
}
html {
  font-family: "Onest Variable", system-ui, sans-serif;
  background-image: radial-gradient(
    ellipse 80% 80% at 50% -20%,
    rgba(171, 90, 101, 0.3),
    rgba(30, 1, 10, 0.049)
  );
}

body {
  display: flex;
  flex-direction: column;
  place-items: center;
  min-height: 100dvh;
}

p {
  text-wrap: pretty;
}

code {
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}
li {
  list-style: none;
}
