---
import Layout from "../layouts/Layout.astro";
import MainHeader from "../components/Hero.astro";
import MainHeaderMidu from "../components/MainHeaderMidu.astro";
import { datos } from "../data/data.json";
---

<Layout title="Welcome to Astro.">
  <main class="flex flex-col pt-20 gap-6 px-12 justify-center max-w-5xl">
    <MainHeaderMidu />
  </main>
</Layout>
