---
import Layout from "../layouts/Layout.astro";
import Dashboard from "../components/Dashboard.astro";
import { datos, metaData } from "../data/data.json";
---

<Layout title={metaData.webTitle}>
  <main
    class="flex flex-col gap-10 pb-12 px-6 md:px-12 items-center max-w-5xl xl:max-w-7xl"
  >
    <Dashboard />
    <Dashboard />
    <Dashboard />
    <Dashboard />
  </main>
</Layout>
