---
import datos from "../data/datos.json";
---

<header
  class="flex justify-center items-center py-3 w-full md:w-10/12 lg:w-8/12"
>
  <nav class="flex flex-row gap-x-10 opacity-80">
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/projects">Projects</a>
    <a href="/contact">Contacto</a>
  </nav>
</header>
